*.db
*.opendb
*.user
*.tlog
*.exe
*.vs
*.bin


*/Debug/*
*/Release/*
*/x64/*

*/*/Debug/*
*/*/Release/*
*/*/x64/*

*/*/*/Debug/*
*/*/*/Release/*
*/*/*/x64/*

*/*/*/*/Debug/*
*/*/*/*/Release/*
*/*/*/*/x64/*